.rong{
    color: rgb(235, 238, 245);
    background-color: rgb(230, 113, 136);
}
.contain{
    color: rgb(250, 243, 243);
    background-color: darkcyan;
}
.text-muted{
    
    background-color: rgb(29, 30, 34);
}